@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic|Source+Sans+Pro&display=swap');

html {
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  box-sizing: border-box;
}

.font-source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.root-container {
  @apply w-full max-h-full mx-auto px-6 bg-indigo-100;
}

.container {
  margin: 0 auto;
}

.page-title {
  letter-spacing: 2px;
  @apply text-gray-800 block;
}

.page-subtitle {
  word-spacing: 2px;
  @apply text-gray-800 pb-8;
}

.section-container {
  @apply bg-white py-6 px-6;
}

.section-title {
  @apply text-xl text-purple-600 font-bold uppercase font-source-sans-pro;
}
