@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic|Source+Sans+Pro&display=swap');

html {
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  box-sizing: border-box;
}

.font-source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
}

.content-base {
  @apply bg-white py-6 px-6;
}

.content-title {
  @apply text-xl text-purple-600 font-bold uppercase font-source-sans-pro;
}

.profile-item {
  @apply mb-2;
}

.profile-item-title {
  @apply text-xl text-gray-900 font-medium my-1;
}

.profile-item-text {
  @apply text-gray-600;
}
