name: Test

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   name: Setup mise
                uses: jdx/mise-action@v3

            -   name: Cache node_modules
                uses: actions/cache@v4
                with:
                    path: node_modules
                    key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-yarn-

            -   name: Install dependencies
                run: yarn install

            -   name: Prepare
                run: yarn run prepare

            -   name: Lint javascript and svelte
                run: yarn run lint:es

            -   name: Lint style
                run: yarn run lint:style

            -   name: Build
                run: yarn run build
