name: Test

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    docker:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v5

            -   name: Ubuntu Version
                run: cat /etc/os-release

            -   name: Docker Version
                run: docker version

            -   name: Cache node_modules
                uses: actions/cache@v4
                env:
                    cache-name: cache-node_modules
                with:
                    path: node_modules
                    key: app-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
                    restore-keys: |
                        app-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
                        app-${{ env.cache-name }}-
                        app-

            -   run: docker compose build
            -   run: docker compose run --rm app yarn install
            -   run: docker compose run --rm app yarn run prepare
            -   run: "docker compose run --rm app yarn run lint:es"
            -   run: "docker compose run --rm app yarn run lint:style"
            -   run: docker compose run --rm app yarn run build
