name: Test

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   name: Setup mise
                uses: jdx/mise-action@v3

            -   name: Cache node_modules
                uses: actions/cache@v4
                with:
                    path: ~/.npm
                    key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                    restore-keys: |
                        ${{ runner.os }}-node-

            -   name: Install dependencies
                run: npm install

            -   name: Prepare
                run: npm run prepare

            -   name: Lint javascript and svelte
                run: npm run lint:es

            -   name: Lint style
                run: npm run lint:style

            -   name: Build
                run: npm run build
